.about {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    @media (max-width: 380px) {
        padding-bottom: 120px;
    }
    &-wrapper {
        max-width: 1180px;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 40px;
        @media (max-width: 500px) {
            margin-bottom: 25px;
        }
    }

    &-item-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media (max-width: 1400px) {
            margin-top: 140px;
            gap: 165px;
        }
        @media (max-width: 700px) {
            margin-top: 0;
            gap: 30px;
        }
    }
    &-item_item {
        max-width: 1180px;
        min-height: 270px;
        /*    border: 1px solid red; */
        display: flex;
        gap: 20px;
        position: relative;
        z-index: 100;
        @media (max-width: 700px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-img {
            z-index: 100;
            flex: 1 5 0;
            max-width: 480px;
            min-width: 0;
            height: 270px;
            object-fit: cover;
            border-radius: 20px;
            @media (max-width: 700px) {
                width: 100%;
                /* max-width: 380px; */
                object-fit: cover;
                border-radius: 20px;
            }
        }
        &-txt {
            flex: 1 1 0;
            min-width: 0;
            color: rgb(82, 82, 82);
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
            /*  @media (max-width: 1345px) {
                max-width: 400px;
                text-align: center;
            } */
            @media (max-width: 700px) {
                font-size: 16px;
                line-height: 140%;
            }
            /* @media (max-width: 380px) {
                font-size: 16px;
            }
            @media (max-width: 320px) {
                line-height: 120%;
            } */
        }
        &-number {
            position: absolute;
            left: -7%;
            top: -60%;
            color: rgb(72, 125, 171, 0.1);
            font-size: 470px;
            font-weight: 700;
            line-height: 110%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            z-index: 99;
            @media (max-width: 1400px) {
                font-size: 300px;
                top: -33%;
                left: 80%;
            }
            @media (max-width: 850px) {
                left: 60%;
            }
            @media (max-width: 700px) {
                top: 96px;
                left: -3%;
            }
            @media (max-width: 700px) {
                font-size: 250px;
            }
            /*  @media (max-width: 1345px) {
                left: 30%;
                transform: translateX(-30%);
                font-size: 250px;
            } */
            /* @media (max-width: 425px) {
                display: none;
            } */
            &:nth-of-type(2) {
                left: 86%;
                top: -71%;
                /*  @media (max-width: 1490px) {
                    left: 84%;
                    top: -82%;
                } */
                @media (max-width: 1400px) {
                    left: 20%;
                    top: -40%;
                }
                @media (max-width: 700px) {
                    top: 96px;
                    left: -3%;
                }
                /*  @media (max-width: 1345px) {
                    left: 30%;
                    top: -38%;
                    transform: translateX(-30%);
                } */
            }
        }
        &:nth-of-type(2) {
            @media (max-width: 700px) {
                .about-item_item-img {
                    order: -1;
                }
            }
        }
        &:nth-of-type(3) :nth-child(1) {
            left: -10%;
            top: -60%;
            /* @media (max-width: 1490px) {
                left: -10%;
                top: -79%;
            } */
            @media (max-width: 1400px) {
                left: 80%;
                top: -38%;
            }
            @media (max-width: 850px) {
                left: 60%;
                top: -38%;
            }
            @media (max-width: 700px) {
                top: 96px;
                left: -3%;
            }
            /*  @media (max-width: 1345px) {
                left: 30%;
                top: -38%;
                transform: translateX(-30%);
            } */
        }
    }
}
