.team {
    width: 100%;
    min-height: 570px;
    padding-bottom: 100px;
    @media(max-width: 500px){
        padding-bottom: 70px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        margin-bottom: 20px;
        color: rgb(104, 104, 104);
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        @media (max-width: 425px) {
            font-size: 17px;
        }
    }
    &-slider {
        max-width: 1180px;
        margin: 0 auto;
        min-height: 414px;
        /* border: 1px solid red; */

        &_item {
            max-width: 280px !important;
            min-height: 414px !important;
            border-radius: 20px;
            /* box-shadow: 4px 5px 14px 0px rgba(0, 0, 0, 0.06), 17px 18px 25px 0px rgba(0, 0, 0, 0.05),
                37px 41px 33px 0px rgba(0, 0, 0, 0.03), 67px 73px 40px 0px rgba(0, 0, 0, 0.01),
                104px 114px 43px 0px rgba(0, 0, 0, 0); */
           /*  box-shadow: 20px 2px 15px 20px rgba(34, 60, 80, 0.06); */
            box-shadow: 5px 5px 16px -3px rgba(34, 60, 80, 0.44);
            background: rgb(255, 255, 255);
            &-img {
                display: block;
                max-width: 280px;
                height: 260px;
                object-fit: cover;
            }
            &-descr {
                width: 100%;
                height: 154px;
                padding: 20px 18px;
            }
            &-descr-name {
                color: rgb(72, 124, 171);
                font-size: 18px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: left;
            }
            &-descr-descr {
                margin-top: 18px;
                color: rgb(82, 82, 82);
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0%;
                text-align: left;
            }
        }

        .swiper-slide {
            width: max-content !important;
            .swiper-wrapper {
                height: 100%;
            }
        }
        &_btn-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}
